*{
  margin:0;
  padding:0;
  box-sizing:border-box;

}
  header{
  width:100%;
  height:100px;
background-color:#2C2AA8;
display:flex;
flex-direccion:row;
justify-content:space-between;
align-items:center;
}

.logo{
  width:100px;
  height:80px;
  border: 1px solid black;
margin-left:50px;
}

.menu{
	width:500px;
	height:80px;
   margin-right:50px;
	/*background-color:lime;*/

}

.menu ul{
  width:100%;
  height:80px;
  display:flex;
  flex-direccion:row;
  justify-content:center;
  align-items:center;
  list-style:none;
  }
 
  .menu ul li{
    width:120px;
    height:80px;
    /*background-color:green;*/
    line-height:80px;
    text-align:center;
    font-size:1.2em;
    font-family: 'Libre Baskerville', serif;
    color:#fff;

    }
   
    .menu ul li:nth-child(2){
        width:260px;
        }
        
.secundaria{
    display:flex;
    flex-direccion:row;
    background-color:#fff;
    justify-content:center;
}
.contenido{
    background-color:#fff;
    overflow:hidden;
}


.principal{
    position:relative;
    height:800px;
    border: 1px solid black;
    background-image: url("./trabajando.jpeg");
    background-repeat:no-repeat;
    background-size:cover;
    object-position: left;
    display:flex;
    flex-direccion:row;
    /*background-color:#fff;*/
    justify-content:flex-end;
    align-items:center;
    }
    
    .principal .fondo{
        position:absolute;
        width:100%;
        height:800px;
        background-color: rgba(0,0,0,0.2);
    }
   
 .principal .texto{
    color:#fff;
    width:400px;
    margin-right:25px;
    z-index:1000;
    }
   
    .principal .texto p{
        font-size:30px;
        text-align:center;
        line-height:45px;
        margin-bottom:30px;
        font-family: 'Roboto Slab', serif;
        }
   .principal .texto .cotiza{
    font-size:2em;
    text-align:center;
    }
   
    .principal .texto .cotiza button{
        width:100px;
        padding:10px;
        font-size:18px;
        border-radius:15px;
        }
    
        
         .secundaria{   
            /*background-color:#0D75FC;*/
            padding:25px 0px;
           /* background-image: url("./aserrin.jpeg");
    background-repeat:no-repeat;
    background-size:cover;*/
        }
            .secundaria .contenido1, .secundaria .contenido2{
                width:400px;
                font-size:20px;
                font-family: 'Roboto Slab', serif;
                text-align:center;
                color:black;
                
             }
           .secundaria .contenido1 > p,  .secundaria .contenido2 > p{
        /*background-color:rgba(0,0,0,0.4);*/
        }
            .secundaria .contenido1 .sub{
                margin-top: 25px;
                font-size:16px;
            }
            
           .secundaria .contenido2{
            margin-left:25px;
            }
            
            .footer-head{
                
            }
            .imagen{
                width:400px;
                height:500px;
                border: 1px solid black;
                margin:10px 0px;
                border-radius:5px;
                box-shadow: 5px 10px 5px rgba(0,0,0,.6);
                }
                
                 .secundaria .contenido1 .imagen{
                    background-image:url("./taller.jpeg");
                    background-repeat:no-repeat;
                    background-size:cover;
                }
                .secundaria .contenido2 .imagen{
                    background-image:url("./img3.jpeg");
                    background-repeat:no-repeat;
                    background-size:cover;
                }
                
                .footer-head{
                    height:250px;
                    position:relative;
                padding:25px 0px;
                display:flex;
                justify-content:center;
               /* border-top: 2px solid blue;*/
                perspective:700px;
                }
                
          
                .footer-head ul{
                list-style:none;
                width:100%;
                display:flex;
                flex-direccion:row;
                justify-content:space-evenly;
                flex:0 1 1;
                z-index:1;
                }
           .footer-head ul li{
            width:200px;
            height:40px;
            padding: 5px;
            font-size:25px;
            margin-top:25px;
            background-color:#0D75FC;
            border-radius:10px;
            flex:1 1 1;
            text-align:center;
            box-shadow: 0px 80px 20px  rgba(0,0,0,0.6);
            color:#fff;
        }
        .footer-head ul li:nth-child(3){
            /* margin-bottom:25px; */
        }
        
        .footer-head:before{
                    position:absolute;
                    content:"";
                    width:100%;
                    height:100%;
                    background-image: url("./aserrin.jpeg");
    background-repeat:no-repeat;
    background-size:cover; 
    transform:rotateX(65deg);
                }
          footer{
            background-color:#00A1E6;
            text-align:center;
            padding:10px;
            }
            footer pre{
                font-size:16px;
                }
